In [1]:
sql_database = 'airpandas_1.sqlite'

In [2]:
import sqlite3

def get_column_names(table_name, sql_database):
    # Establish a connection to the database
    conn = sqlite3.connect(sql_database)

    # Create a cursor object
    cur = conn.cursor()

    # Execute the PRAGMA table_info command
    cur.execute(f"PRAGMA table_info({table_name})")

    # Fetch all rows of a query result
    rows = cur.fetchall()

    # Close the connection
    conn.close()

    # Return the column names. The column name is the second element in each row.
    return [row[1] for row in rows]

In [7]:
table_name = 'Race'
column_names = get_column_names(table_name, sql_database)
print(column_names)

['NAME', 'est_total_population', 'pct_total_population', 'est_one_race', 'pct_one_race', 'est_white', 'pct_white', 'est_black_or_african', 'pct_black_or_african', 'est_american_indian', 'pct_american_indian', 'est_asian', 'pct_asian', 'est_native_hawaiian', 'pct_native_hawaiian', 'est_some_other_race', 'pct_some_other_race', 'est_two_or_more', 'pct_two_or_more', 'state', 'county', 'Year', 'FIPS']

In [2]:
from database_utils import get_all_tables, get_column_names, query_table

sql_database = 'airpandas_1.sqlite'
table_name = 'PM25'
start_date = "2010-01-01"
end_date = "2010-01-07"
fips = '06037'

# Get all tables in the database
tables = get_all_tables(sql_database)
print(tables)

# Get all columns in a table
columns = get_column_names(table_name, sql_database)
print(columns)

# Query a table with a date range and a FIPS code
df = query_table(sql_database, table_name, columns, start_date, end_date, fips)
print(df)

['Race', 'Income', 'Education', 'Employment', 'Heating', 'Occupation', 'Commute', 'Industry', 'Poverty', 'PM25']
['state_code', 'county_code', 'site_number', 'parameter_code', 'poc', 'latitude', 'longitude', 'datum', 'parameter', 'date_local', 'time_local', 'date_gmt', 'time_gmt', 'sample_measurement', 'units_of_measure', 'units_of_measure_code', 'sample_duration', 'sample_duration_code', 'sample_frequency', 'detection_limit', 'uncertainty', 'qualifier', 'method_type', 'method', 'method_code', 'state', 'county', 'date_of_last_change', 'cbsa_code', 'FIPS', 'year', 'month', 'day']
    state_code  county_code  site_number  parameter_code  poc   latitude  \
0            6           37         1201           88101    1  34.199250
1            6           37            2           88101    1  34.136500
2            6           37         1302           88101    1  33.901389
3            6           37         1302           88101    1  33.901389
4            6           37         2005           88101    1  34.132600
5            6           37         2005           88101    1  34.132600
6            6           37         1602           88101    1  34.010290
7            6           37         1602           88101    1  34.010290
8            6           37         1201           88101    1  34.199250
9            6           37         4004           88101    1  33.792360
10           6           37            2           88101    1  34.136500
11           6           37         9033           88101    1  34.669739
12           6           37         9033           88101    1  34.669739
13           6           37         9033           88101    1  34.669739
14           6           37         1103           88101    2  34.066590
15           6           37         1002           88101    1  34.176050
16           6           37         1002           88101    1  34.176050
17           6           37         1002           88101    1  34.176050
18           6           37         1002           88101    1  34.176050
19           6           37         1002           88101    1  34.176050
20           6           37         1002           88101    1  34.176050
21           6           37         1103           88101    1  34.066590
22           6           37         1103           88101    1  34.066590
23           6           37         1103           88101    1  34.066590
24           6           37         1103           88101    1  34.066590
25           6           37         1103           88101    1  34.066590
26           6           37         1103           88101    1  34.066590
27           6           37         4004           88101    1  33.792360
28           6           37         4004           88101    1  33.792360
29           6           37         4004           88101    1  33.792360
30           6           37         4004           88101    1  33.792360
31           6           37         4004           88101    1  33.792360
32           6           37         4002           88101    1  33.823760
33           6           37         4002           88101    1  33.823760
34           6           37         4002           88101    1  33.823760
35           6           37         4002           88101    1  33.823760
36           6           37         4002           88101    1  33.823760
37           6           37         4002           88101    1  33.823760

     longitude  datum                 parameter                  date_local  \
0  -118.532760  WGS84  PM2.5 - Local Conditions  2010-01-05 00:00:00.000000
1  -117.923910  WGS84  PM2.5 - Local Conditions  2010-01-05 00:00:00.000000
2  -118.205000  WGS84  PM2.5 - Local Conditions  2010-01-02 00:00:00.000000
3  -118.205000  WGS84  PM2.5 - Local Conditions  2010-01-05 00:00:00.000000
4  -118.127200  WGS84  PM2.5 - Local Conditions  2010-01-02 00:00:00.000000
5  -118.127200  WGS84  PM2.5 - Local Conditions  2010-01-05 00:00:00.000000
6  -118.068500  NAD83  PM2.5 - Local Conditions  2010-01-02 00:00:00.000000
7  -118.068500  NAD83  PM2.5 - Local Conditions  2010-01-05 00:00:00.000000
8  -118.532760  WGS84  PM2.5 - Local Conditions  2010-01-02 00:00:00.000000
9  -118.175330  WGS84  PM2.5 - Local Conditions  2010-01-06 00:00:00.000000
10 -117.923910  WGS84  PM2.5 - Local Conditions  2010-01-02 00:00:00.000000
11 -118.130511  NAD83  PM2.5 - Local Conditions  2010-01-02 00:00:00.000000
12 -118.130511  NAD83  PM2.5 - Local Conditions  2010-01-05 00:00:00.000000
13 -118.130511  NAD83  PM2.5 - Local Conditions  2010-01-06 00:00:00.000000
14 -118.226880  WGS84  PM2.5 - Local Conditions  2010-01-02 00:00:00.000000
15 -118.317120  WGS84  PM2.5 - Local Conditions  2010-01-01 00:00:00.000000
16 -118.317120  WGS84  PM2.5 - Local Conditions  2010-01-02 00:00:00.000000
17 -118.317120  WGS84  PM2.5 - Local Conditions  2010-01-03 00:00:00.000000
18 -118.317120  WGS84  PM2.5 - Local Conditions  2010-01-04 00:00:00.000000
19 -118.317120  WGS84  PM2.5 - Local Conditions  2010-01-05 00:00:00.000000
20 -118.317120  WGS84  PM2.5 - Local Conditions  2010-01-06 00:00:00.000000
21 -118.226880  WGS84  PM2.5 - Local Conditions  2010-01-06 00:00:00.000000
22 -118.226880  WGS84  PM2.5 - Local Conditions  2010-01-01 00:00:00.000000
23 -118.226880  WGS84  PM2.5 - Local Conditions  2010-01-02 00:00:00.000000
24 -118.226880  WGS84  PM2.5 - Local Conditions  2010-01-03 00:00:00.000000
25 -118.226880  WGS84  PM2.5 - Local Conditions  2010-01-04 00:00:00.000000
26 -118.226880  WGS84  PM2.5 - Local Conditions  2010-01-05 00:00:00.000000
27 -118.175330  WGS84  PM2.5 - Local Conditions  2010-01-01 00:00:00.000000
28 -118.175330  WGS84  PM2.5 - Local Conditions  2010-01-02 00:00:00.000000
29 -118.175330  WGS84  PM2.5 - Local Conditions  2010-01-03 00:00:00.000000
30 -118.175330  WGS84  PM2.5 - Local Conditions  2010-01-04 00:00:00.000000
31 -118.175330  WGS84  PM2.5 - Local Conditions  2010-01-05 00:00:00.000000
32 -118.189210  WGS84  PM2.5 - Local Conditions  2010-01-04 00:00:00.000000
33 -118.189210  WGS84  PM2.5 - Local Conditions  2010-01-01 00:00:00.000000
34 -118.189210  WGS84  PM2.5 - Local Conditions  2010-01-02 00:00:00.000000
35 -118.189210  WGS84  PM2.5 - Local Conditions  2010-01-03 00:00:00.000000
36 -118.189210  WGS84  PM2.5 - Local Conditions  2010-01-05 00:00:00.000000
37 -118.189210  WGS84  PM2.5 - Local Conditions  2010-01-06 00:00:00.000000

    ...                                             method method_code  \
0   ...  Andersen RAAS2.5-300 PM2.5 SEQ w/WINS - GRAVIM...         120
1   ...  Andersen RAAS2.5-300 PM2.5 SEQ w/WINS - GRAVIM...         120
2   ...  Andersen RAAS2.5-300 PM2.5 SEQ w/WINS - GRAVIM...         120
3   ...  Andersen RAAS2.5-300 PM2.5 SEQ w/WINS - GRAVIM...         120
4   ...  Andersen RAAS2.5-300 PM2.5 SEQ w/WINS - GRAVIM...         120
5   ...  Andersen RAAS2.5-300 PM2.5 SEQ w/WINS - GRAVIM...         120
6   ...  Andersen RAAS2.5-300 PM2.5 SEQ w/WINS - GRAVIM...         120
7   ...  Andersen RAAS2.5-300 PM2.5 SEQ w/WINS - GRAVIM...         120
8   ...  Andersen RAAS2.5-300 PM2.5 SEQ w/WINS - GRAVIM...         120
9   ...  Andersen RAAS2.5-300 PM2.5 SEQ w/WINS - GRAVIM...         120
10  ...  Andersen RAAS2.5-300 PM2.5 SEQ w/WINS - GRAVIM...         120
11  ...  R & P Model 2000 PM2.5 Sampler w/WINS - GRAVIM...         117
12  ...  R & P Model 2000 PM2.5 Sampler w/WINS - GRAVIM...         117
13  ...  R & P Model 2000 PM2.5 Sampler w/WINS - GRAVIM...         117
14  ...  Andersen RAAS2.5-300 PM2.5 SEQ w/WINS - GRAVIM...         120
15  ...  Andersen RAAS2.5-300 PM2.5 SEQ w/WINS - GRAVIM...         120
16  ...  Andersen RAAS2.5-300 PM2.5 SEQ w/WINS - GRAVIM...         120
17  ...  Andersen RAAS2.5-300 PM2.5 SEQ w/WINS - GRAVIM...         120
18  ...  Andersen RAAS2.5-300 PM2.5 SEQ w/WINS - GRAVIM...         120
19  ...  Andersen RAAS2.5-300 PM2.5 SEQ w/WINS - GRAVIM...         120
20  ...  Andersen RAAS2.5-300 PM2.5 SEQ w/WINS - GRAVIM...         120
21  ...  Andersen RAAS2.5-300 PM2.5 SEQ w/WINS - GRAVIM...         120
22  ...  Andersen RAAS2.5-300 PM2.5 SEQ w/WINS - GRAVIM...         120
23  ...  Andersen RAAS2.5-300 PM2.5 SEQ w/WINS - GRAVIM...         120
24  ...  Andersen RAAS2.5-300 PM2.5 SEQ w/WINS - GRAVIM...         120
25  ...  Andersen RAAS2.5-300 PM2.5 SEQ w/WINS - GRAVIM...         120
26  ...  Andersen RAAS2.5-300 PM2.5 SEQ w/WINS - GRAVIM...         120
27  ...  Andersen RAAS2.5-300 PM2.5 SEQ w/WINS - GRAVIM...         120
28  ...  Andersen RAAS2.5-300 PM2.5 SEQ w/WINS - GRAVIM...         120
29  ...  Andersen RAAS2.5-300 PM2.5 SEQ w/WINS - GRAVIM...         120
30  ...  Andersen RAAS2.5-300 PM2.5 SEQ w/WINS - GRAVIM...         120
31  ...  Andersen RAAS2.5-300 PM2.5 SEQ w/WINS - GRAVIM...         120
32  ...  Andersen RAAS2.5-300 PM2.5 SEQ w/WINS - GRAVIM...         120
33  ...  Andersen RAAS2.5-300 PM2.5 SEQ w/WINS - GRAVIM...         120
34  ...  Andersen RAAS2.5-300 PM2.5 SEQ w/WINS - GRAVIM...         120
35  ...  Andersen RAAS2.5-300 PM2.5 SEQ w/WINS - GRAVIM...         120
36  ...  Andersen RAAS2.5-300 PM2.5 SEQ w/WINS - GRAVIM...         120
37  ...  Andersen RAAS2.5-300 PM2.5 SEQ w/WINS - GRAVIM...         120

         state       county date_of_last_change  cbsa_code   FIPS  year month  \
0   California  Los Angeles          2011-04-06    31080.0  06037  2010     1
1   California  Los Angeles          2011-04-06    31080.0  06037  2010     1
2   California  Los Angeles          2011-04-06    31080.0  06037  2010     1
3   California  Los Angeles          2011-04-06    31080.0  06037  2010     1
4   California  Los Angeles          2011-04-06    31080.0  06037  2010     1
5   California  Los Angeles          2011-04-06    31080.0  06037  2010     1
6   California  Los Angeles          2011-04-06    31080.0  06037  2010     1
7   California  Los Angeles          2011-04-06    31080.0  06037  2010     1
8   California  Los Angeles          2011-04-06    31080.0  06037  2010     1
9   California  Los Angeles          2011-05-17    31080.0  06037  2010     1
10  California  Los Angeles          2011-04-06    31080.0  06037  2010     1
11  California  Los Angeles          2011-08-17    31080.0  06037  2010     1
12  California  Los Angeles          2011-08-17    31080.0  06037  2010     1
13  California  Los Angeles          2011-08-17    31080.0  06037  2010     1
14  California  Los Angeles          2011-04-06    31080.0  06037  2010     1
15  California  Los Angeles          2011-05-17    31080.0  06037  2010     1
16  California  Los Angeles          2011-05-17    31080.0  06037  2010     1
17  California  Los Angeles          2011-05-17    31080.0  06037  2010     1
18  California  Los Angeles          2011-05-17    31080.0  06037  2010     1
19  California  Los Angeles          2011-05-17    31080.0  06037  2010     1
20  California  Los Angeles          2011-05-17    31080.0  06037  2010     1
21  California  Los Angeles          2011-05-17    31080.0  06037  2010     1
22  California  Los Angeles          2011-05-17    31080.0  06037  2010     1
23  California  Los Angeles          2011-05-17    31080.0  06037  2010     1
24  California  Los Angeles          2011-05-17    31080.0  06037  2010     1
25  California  Los Angeles          2011-05-17    31080.0  06037  2010     1
26  California  Los Angeles          2011-05-17    31080.0  06037  2010     1
27  California  Los Angeles          2011-05-17    31080.0  06037  2010     1
28  California  Los Angeles          2011-05-17    31080.0  06037  2010     1
29  California  Los Angeles          2011-05-17    31080.0  06037  2010     1
30  California  Los Angeles          2011-05-17    31080.0  06037  2010     1
31  California  Los Angeles          2011-05-17    31080.0  06037  2010     1
32  California  Los Angeles          2011-05-17    31080.0  06037  2010     1
33  California  Los Angeles          2011-05-17    31080.0  06037  2010     1
34  California  Los Angeles          2011-05-17    31080.0  06037  2010     1
35  California  Los Angeles          2011-05-17    31080.0  06037  2010     1
36  California  Los Angeles          2011-05-17    31080.0  06037  2010     1
37  California  Los Angeles          2011-05-17    31080.0  06037  2010     1

    day
0     5
1     5
2     2
3     5
4     2
5     5
6     2
7     5
8     2
9     6
10    2
11    2
12    5
13    6
14    2
15    1
16    2
17    3
18    4
19    5
20    6
21    6
22    1
23    2
24    3
25    4
26    5
27    1
28    2
29    3
30    4
31    5
32    4
33    1
34    2
35    3
36    5
37    6

[38 rows x 33 columns]

In [1]:
from database_utils import get_unique_sites, get_measurement_percentage

sql_database = 'airpandas_1.sqlite'
table_name = 'PM25'
fips = '06037'
threshold = 25.0
date_range = ('2010-01-01', '2010-12-31')

# Get unique sites
sites = get_unique_sites(sql_database, table_name)
print(sites)

# Get the percentage of measurements that exceed the threshold
percentage = get_measurement_percentage(sql_database, table_name, fips, threshold, date_range)
print(f"Percentage of measurements exceeding the threshold: {percentage}%")

      latitude   longitude
0    36.487823 -117.871036
1    38.613779 -121.368014
2    40.801780 -124.162100
3    37.936013 -122.026154
4    37.482934 -122.203370
..         ...         ...
155  37.155494 -118.293547
156  33.379078 -116.015997
157  36.595556 -118.049167
158  32.650900 -116.365000
159  37.961578 -121.281414

[160 rows x 2 columns]
Percentage of measurements exceeding the threshold: 31.46630236794171%

In [4]:
import pandas as pd
import sqlite3
# Get the list of unique FIPS codes (representing counties) in the PM25 table
sql_database = 'airpandas_1.sqlite'
table_name = 'PM25'

conn = sqlite3.connect(sql_database)
df_counties = pd.read_sql_query(f"SELECT DISTINCT FIPS, county FROM {table_name}", conn)
conn.close()

# Calculate the percentage of measurements exceeding 25.0 for each county (unhealthy)
threshold = 25.0 
percentages = []
date_range = ('2010-01-01', '2010-12-31')
for fips, county in df_counties.values:
    percentage = get_measurement_percentage(sql_database, table_name, fips, threshold, date_range)
    percentages.append((county, percentage))

# Create a DataFrame from the percentages data
df_percentages = pd.DataFrame(percentages, columns=['County', 'Percentage'])

c:\Users\tim09\Documents\GitHub\Air-Pandas\database_utils.py:111: RuntimeWarning: invalid value encountered in longlong_scalars
  percentage = (df_threshold['threshold_count'][0] / df_total['total_count'][0]) * 100
c:\Users\tim09\Documents\GitHub\Air-Pandas\database_utils.py:111: RuntimeWarning: invalid value encountered in longlong_scalars
  percentage = (df_threshold['threshold_count'][0] / df_total['total_count'][0]) * 100
c:\Users\tim09\Documents\GitHub\Air-Pandas\database_utils.py:111: RuntimeWarning: invalid value encountered in longlong_scalars
  percentage = (df_threshold['threshold_count'][0] / df_total['total_count'][0]) * 100
c:\Users\tim09\Documents\GitHub\Air-Pandas\database_utils.py:111: RuntimeWarning: invalid value encountered in longlong_scalars
  percentage = (df_threshold['threshold_count'][0] / df_total['total_count'][0]) * 100
c:\Users\tim09\Documents\GitHub\Air-Pandas\database_utils.py:111: RuntimeWarning: invalid value encountered in longlong_scalars
  percentage = (df_threshold['threshold_count'][0] / df_total['total_count'][0]) * 100

In [5]:
df_percentages

             County  Percentage
0              Inyo    2.992463
1        Sacramento    3.940887
2          Humboldt    0.000000
3      Contra Costa    3.716216
4         San Mateo    3.624382
5            Fresno    8.723191
6            Nevada    0.000000
7         Calaveras    0.894529
8             Kings   17.818182
9            Merced   10.299116
10             Yolo    1.538462
11             Kern    9.667674
12    Santa Barbara    1.184834
13        Riverside    2.525582
14         Imperial    1.735358
15      Santa Clara    1.540257
16      Los Angeles    3.233151
17      San Joaquin    8.479653
18           Orange    1.443299
19       Stanislaus   10.524881
20          Alameda    1.660387
21    San Francisco    4.222694
22       Santa Cruz    0.171703
23         Siskiyou    0.000000
24         Monterey    0.238718
25        San Diego    0.423763
26   San Bernardino    2.957486
27           Plumas    2.868852
28           Placer    1.612903
29           Sonoma    2.265335
30            Butte    6.349206
31  San Luis Obispo    2.205560
32           Shasta    0.000000
33             Lake    0.000000
34       San Benito    0.446429
35           Solano    1.877934
36          Ventura    0.000000
37           Tulare   10.743802
38           Colusa    0.000000
39        Mendocino    1.822871
40           Sutter    0.549451
41            Marin    4.846804
42           Madera   14.943960
43          Trinity         NaN
44             Napa         NaN
45           Tehama         NaN
46        Del Norte         NaN
47             Mono         NaN