06 May 2023 from Matthew: I was able to identify some pretty interesting articles discussing the relationship between air quality and demography in Los Angeles and cities around the world at large. The phrases I searched for were of the for "air quality and demographics in Los Angeles" in Google Scholar. There may be other interesting keywords we would want to search for in the future, so let's be sure to stay open to reviewing further literature if need be.

## Article 1

The first interesting article I found was:

[Jerrett, Michael, Richard T. Burnett, Renjun Ma, C. Arden Pope III, Daniel Krewski, K. Bruce Newbold, George Thurston et al. "Spatial analysis of air pollution and mortality in Los Angeles." Epidemiology (2005): 727-736.](https://www.jstor.org/stable/20486136?casa_token=zwJo2wLvcnMAAAAA%3Aruo-xejz_HU9HgnZF2ADcoi8tjCE74o_GHnfksM_bqk-RvLCWtVq8LEPt7xFJZS7ruWKELoFQiZ-kPv4z7eIxV_sJjIb5A-2BIGnFt_M_cS3yDVElUOj)

This article introduced me to the idea that **PM$_{2.5}$** and **O$_3$** levels might be a good way to measure air quality. Of course, we might also simply want to use the Air Quality Index (AQI) if that is available to us in through the EPA AQS API. Can we see if we can extract data on PM$_{2.5}$ and O$_3$ levels in Los Angeles through the EPA AQS API?

In [2]:
#see if we can import the data on PM2.5 and O3 levels here. Can we get AQI directly from the API?

## Article 2

Another interesting piece I found was:

Lisa Schweitzer & Jiangping Zhou (2010) Neighborhood Air Quality, Respiratory Health, and Vulnerable Populations in Compact and Sprawled Regions, Journal of the American Planning Association, 76:3, 363-371, DOI: [10.1080/01944363.2010.486623](https://doi.org/10.1080/01944363.2010.486623)

I quote the main interesting finding from the abstract: "Exposures to both ozone and fine particulates are also higher in neighborhoods with high proportions of African Americans, Asian ethnic minorities, and poor households."

In essence, it may be a good idea to explore how air quality varies with **racial/ethnic composition** and **income** throughout Los Angeles. I should note here that the article aggregates findings from 80 different U.S. cities (i.e. this study does not focus on Los Angeles). However, it still gives us a lead as to which demographic characteristics of LA residents might vary with air quality.

Can we see what racial/ethnic and income information we can get from the U.S. Census? I will note that Louise provided a great PDF guide on how to access data from the Census API, so we should definitely look into that while we try to query data from there.

In [ ]:
#this is an example query from the U.S. census data.
#here, we get population estimates by state in the year 2019. The formatting for the URL can be found in the 
    #pdf guide that Louise provided.
#remaining question: is there a way to gather data using this url format for many years? What are the different
    #types of localities we can query data for?

In [2]:
import pandas as pd

In [12]:
test = pd.read_json("https://api.census.gov/data/2019/pep/charagegroups?get=NAME,POP&HISP=2&for=state:*")

In [5]:
test

                       0         1     2      3
0                   NAME       POP  HISP  state
1            Mississippi    100110     2     28
2               Missouri    268708     2     29
3                Montana     43289     2     30
4               Nebraska    219645     2     31
5                 Nevada    900600     2     32
6          New Hampshire     54589     2     33
7             New Jersey   1856844     2     34
8             New Mexico   1032942     2     35
9               New York   3751058     2     36
10        North Carolina   1025830     2     37
11          North Dakota     31532     2     38
12                  Ohio    470462     2     39
13              Oklahoma    438110     2     40
14                Oregon    566847     2     41
15          Pennsylvania   1000150     2     42
16          Rhode Island    172644     2     44
17        South Carolina    307118     2     45
18          South Dakota     37351     2     46
19             Tennessee    391382     2     47
20                 Texas  11525578     2     48
21               Vermont     12719     2     50
22                  Utah    462051     2     49
23              Virginia    834422     2     51
24            Washington    991721     2     53
25         West Virginia     31162     2     54
26             Wisconsin    413208     2     55
27               Wyoming     58609     2     56
28               Alabama    223278     2     01
29                Alaska     53212     2     02
30               Arizona   2310590     2     04
31              Arkansas    236631     2     05
32            California  15574880     2     06
33              Colorado   1256904     2     08
34              Delaware     93391     2     10
35  District of Columbia     79477     2     11
36           Connecticut    600955     2     09
37               Florida   5663860     2     12
38               Georgia   1048724     2     13
39                 Idaho    229490     2     16
40                Hawaii    150864     2     15
41              Illinois   2219882     2     17
42               Indiana    489353     2     18
43                  Iowa    198550     2     19
44                Kansas    356073     2     20
45              Kentucky    174706     2     21
46             Louisiana    246972     2     22
47                 Maine     23700     2     23
48              Maryland    643822     2     24
49         Massachusetts    854907     2     25
50              Michigan    528205     2     26
51             Minnesota    315130     2     27

Let's take a closer look at the query url. To obtain the above data, we ran the code

`pd.read_json("https://api.census.gov/data/2019/pep/charagegroups?get=NAME,POP&HISP=2&for=state:*")`

Focus on the bold sections of the url.

### Year

api.census.gov/data/**2019**/pep/charagegroups?get=NAME,POP&HISP=2&for=state:*

According to an example in the manual, we can replace this with `timeseries` to get data across multiple years. This only works with time series datasets, so we will have to replace the data set name as shown below.

### Data set

api.census.gov/data/2019/**pep**/charagegroups?get=NAME,POP&HISP=2&for=state:*

To get data from the American Community Survey (ACS), we can replace this section. In some examples in the manual, they replaced this with /acs/acs1.

[Here](https://api.census.gov/data.html) is a list of different Census data sets.

In [ ]:
#see if we an import data on racial/ethnic composition and income in Los Angeles from the U.S. Census API.

## Remaining Questions

- How are we going to merge locality data across the U.S. Census and AQS API? By ZIP code, for instance? This will be a very important consideration and may cause us to change our research question depending on data availability.