In [15]:
import sql_utils
import pandas as pd
from sqlalchemy import create_engine

ModuleNotFoundError: No module named 'sql_utils'

In [6]:
file1 = r'/Users/mattthowell/Desktop/PIC_16B_Data/2014.6_2021_CA_PM2.5.csv'
file2 = r'/Users/mattthowell/Desktop/PIC_16B_Data/2009_2014.6_CA_PM2.5.csv'
file3 = r'/Users/mattthowell/Desktop/PIC_16B_Data/2009_2014.6_CA_PM10.csv'
file4 = r'/Users/mattthowell/Desktop/PIC_16B_Data/2014.6_2021_CA_PM10.csv'

In [7]:
engine = create_engine('sqlite:///database.sqlite')

In [8]:
sql_utils.process_csv_in_chunks(file1, 20000, engine, 'PM2')
sql_utils.process_csv_in_chunks(file2, 20000, engine, 'PM2')

NameError: name 'sql_utils' is not defined

In [ ]:
import sqlite3
import pandas as pd

# Connect to the SQLite database
conn = sqlite3.connect('my_database.sqlite')

# Create a pandas DataFrame from an SQL query
df = pd.read_sql_query("SELECT latitude, longitude, arithmetic_mean, aqi, FIPS FROM my_table LIMIT 10 WHERE year = 2019", conn)

# Close the connection
conn.close()

# Print the DataFrame
print(df)