# Create sqlite database

In [1]:
import sql_utils
import pandas as pd
from sqlalchemy import create_engine

In [4]:
## REPLACE THIS WITH YOUR OWN FILE PATH
filename = r'C:\Users\tim09\Documents\GitHub\Air-Pandas\database\2014.6_2021_CA_PM2.5_samples.csv'

In [5]:
df = pd.read_csv(filename, chunksize=100)

In [7]:
df = next(df)

In [9]:
df = df[df['qualifier'].isnull()]

In [11]:
df = df.drop(columns=['sample_duration', 'sample_duration_code', 'sample_frequency', 'poc', 'detection_limit', 'uncertainty', 'qualifier', 'method_type', 'method', 'method_code'])

In [12]:
df

,state_code,county_code,site_number,parameter_code,latitude,longitude,datum,parameter,date_local,time_local,date_gmt,time_gmt,sample_measurement,units_of_measure,units_of_measure_code,state,county,date_of_last_change,cbsa_code
0,6,83,2011,88101,34.445510,-119.828400,WGS84,PM2.5 - Local Conditions,2014-06-30,00:00,2014-06-30,08:00,7.0,Micrograms/cubic meter (LC),105,California,Santa Barbara,2014-10-02,42200.0
1,6,83,2011,88101,34.445510,-119.828400,WGS84,PM2.5 - Local Conditions,2014-06-30,01:00,2014-06-30,09:00,12.0,Micrograms/cubic meter (LC),105,California,Santa Barbara,2014-10-02,42200.0
2,6,83,2011,88101,34.445510,-119.828400,WGS84,PM2.5 - Local Conditions,2014-06-30,02:00,2014-06-30,10:00,10.0,Micrograms/cubic meter (LC),105,California,Santa Barbara,2014-10-02,42200.0
3,6,83,2011,88101,34.445510,-119.828400,WGS84,PM2.5 - Local Conditions,2014-06-30,03:00,2014-06-30,11:00,10.0,Micrograms/cubic meter (LC),105,California,Santa Barbara,2014-10-02,42200.0
4,6,83,2011,88101,34.445510,-119.828400,WGS84,PM2.5 - Local Conditions,2014-06-30,04:00,2014-06-30,12:00,8.0,Micrograms/cubic meter (LC),105,California,Santa Barbara,2014-10-02,42200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,6,55,3,88101,38.310942,-122.296189,WGS84,PM2.5 - Local Conditions,2014-06-30,11:00,2014-06-30,19:00,14.0,Micrograms/cubic meter (LC),105,California,Napa,2014-07-18,34900.0
96,6,55,3,88101,38.310942,-122.296189,WGS84,PM2.5 - Local Conditions,2014-06-30,12:00,2014-06-30,20:00,20.0,Micrograms/cubic meter (LC),105,California,Napa,2014-07-18,34900.0
97,6,55,3,88101,38.310942,-122.296189,WGS84,PM2.5 - Local Conditions,2014-06-30,13:00,2014-06-30,21:00,12.0,Micrograms/cubic meter (LC),105,California,Napa,2014-07-18,34900.0
98,6,55,3,88101,38.310942,-122.296189,WGS84,PM2.5 - Local Conditions,2014-06-30,14:00,2014-06-30,22:00,15.0,Micrograms/cubic meter (LC),105,California,Napa,2014-07-18,34900.0
99,6,55,3,88101,38.310942,-122.296189,WGS84,PM2.5 - Local Conditions,2014-06-30,15:00,2014-06-30,23:00,18.0,Micrograms/cubic meter (LC),105,California,Napa,2014-07-18,34900.0

In [3]:
engine = create_engine('sqlite:///my_database.sqlite')  
# Replace with your actual database URL --- it is like conn, use your own database name

In [4]:
sql_utils.process_csv_in_chunks(filename, 20000, engine, 'my_table')  # Replace 'my_table' with your actual table name

# test the output

In [1]:
import sqlite3
import pandas as pd

# Connect to the SQLite database
conn = sqlite3.connect('my_database.sqlite')

# Create a pandas DataFrame from an SQL query
df = pd.read_sql_query("SELECT latitude, longitude, arithmetic_mean, aqi, FIPS FROM PM10 LIMIT 10", conn)

# Close the connection
conn.close()

# Print the DataFrame
print(df)

    latitude   longitude  arithmetic_mean   aqi   FIPS
0  37.765946 -122.399044             24.0  22.0  06075
1  37.765946 -122.399044             29.0  27.0  06075
2  37.765946 -122.399044             30.0  28.0  06075
3  37.765946 -122.399044             19.0  18.0  06075
4  37.765946 -122.399044             12.0  11.0  06075
5  37.765946 -122.399044             14.0  13.0  06075
6  37.765946 -122.399044             30.0  28.0  06075
7  37.765946 -122.399044              9.0   8.0  06075
8  37.765946 -122.399044             11.0  10.0  06075
9  37.765946 -122.399044             13.0  12.0  06075

In [3]:
## show all columns avaliable in the table

# Connect to the SQLite database
conn = sqlite3.connect('my_database.sqlite')

# Create a pandas DataFrame from an SQL query
df = pd.read_sql_query("SELECT * FROM POVERTY LIMIT 10", conn)

# Close the connection
conn.close()

# show column names

df.columns

Index(['NAME', 'pct_all_people', 'state', 'county', 'Year', 'est_all_people',
       'FIPS'],
      dtype='object')

In [5]:
df.date_local

0    2014-06-30
1    2014-06-30
2    2014-06-30
3    2014-06-30
4    2014-06-30
5    2014-06-30
6    2014-06-30
7    2014-06-30
8    2014-06-30
9    2014-06-30
Name: date_local, dtype: object

In [9]:
from sqlalchemy import create_engine
import pandas as pd

# Connect to the SQLite database
engine = create_engine('sqlite:///my_database.sqlite')

# Create a pandas DataFrame from an SQL query
df = pd.read_sql_query("SELECT * FROM RACE ORDER BY RANDOM() LIMIT 10", engine)

df.columns

Index(['NAME', 'est_total_population', 'pct_total_population', 'est_one_race',
       'pct_one_race', 'est_white', 'pct_white', 'est_black_or_african',
       'pct_black_or_african', 'est_american_indian', 'pct_american_indian',
       'est_asian', 'pct_asian', 'est_native_hawaiian', 'pct_native_hawaiian',
       'est_some_other_race', 'pct_some_other_race', 'est_two_or_more',
       'pct_two_or_more', 'state', 'county', 'Year', 'FIPS'],
      dtype='object')

In [6]:
from sqlalchemy import create_engine, func, MetaData, Table
from sqlalchemy.orm import sessionmaker
from sqlalchemy.sql import select

# Connect to the SQLite database
engine = create_engine('sqlite:///my_database.sqlite')

# create a configured "Session" class
Session = sessionmaker(bind=engine)

# create a Session
session = Session()

# Get the table
metadata = MetaData()
my_table = Table('my_table', metadata, autoload_with=engine)

# Execute a SQL query and fetch all rows from the result
stmt = (
    select([my_table.c.latitude, my_table.c.longitude, func.count(my_table.c.latitude).label('measures')]).
    group_by(my_table.c.latitude, my_table.c.longitude)
)
rows = session.execute(stmt).fetchall()

# Print all rows
for row in rows:
    print(row)

session.close()

C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_21828\4092924817.py:20: RemovedIn20Warning: Deprecated API features detected! These feature(s) are not compatible with SQLAlchemy 2.0. To prevent incompatible upgrades prior to updating applications, ensure requirements files are pinned to "sqlalchemy<2.0". Set environment variable SQLALCHEMY_WARN_20=1 to show all deprecation warnings.  Set environment variable SQLALCHEMY_SILENCE_UBER_WARNING=1 to silence this message. (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  select([my_table.c.latitude, my_table.c.longitude, func.count(my_table.c.latitude).label('measures')]).

(32.631242, -117.059088, 5592)
(32.6509, -116.365, 676)
(32.67618, -115.48307, 24971)
(32.701492, -117.149653, 4416)
(32.710177, -117.142665, 1404)
(32.725226, -116.365203, 9974)
(32.789565, -116.944308, 11472)
(32.79222, -115.56306, 5727)
(32.817978, -116.968133, 1176)
(32.845709, -117.123964, 7980)
(32.97833, -115.53917, 6176)
(32.985442, -117.08218, 1872)
(33.127769, -117.075086, 822)
(33.362593, -117.09023, 21134)
(33.379078, -116.015997, 2028)
(33.447867, -117.088649, 17773)
(33.63003, -117.67593, 9541)
(33.70853, -116.21537, 9696)
(33.71969, -116.1897, 8604)
(33.747236, -115.820124, 6591)
(33.79236, -118.17533, 29640)
(33.82376, -118.18921, 10902)
(33.83062, -117.93845, 29811)
(33.85275, -116.54101, 4974)
(33.859662, -118.200707, 28800)
(33.901389, -118.205, 8928)
(33.944713, -116.830074, 23124)
(33.94603, -117.40063, 66)
(33.99636, -117.4924, 27482)
(33.99958, -117.41601, 32176)
(34.01029, -118.0685, 6732)
(34.030833, -117.61722, 30096)
(34.06659, -118.22688, 17616)
(34.10002, -117.49201, 4938)
(34.106678, -117.274063, 4788)
(34.1326, -118.1272, 6018)
(34.1365, -117.92391, 5118)
(34.19925, -118.53276, 4818)
(34.210169, -118.870509, 18838)
(34.25239, -119.143182, 18435)
(34.26464, -116.86147, 2304)
(34.276316, -118.683685, 37415)
(34.404281, -118.80998, 18602)
(34.427775, -119.691218, 13807)
(34.44551, -119.8284, 18591)
(34.44806, -119.2313, 18743)
(34.510961, -117.32554, 29102)
(34.63782, -120.4575, 17081)
(34.669739, -118.130511, 15068)
(34.942872, -120.435611, 16638)
(35.02083, -120.56388, 18833)
(35.046528, -118.162833, 3179)
(35.04673, -120.58777, 18507)
(35.050551, -118.147294, 15227)
(35.25651, -120.6693, 14220)
(35.259502, -120.64472, 2521)
(35.324636, -118.997627, 4991)
(35.356615, -119.062613, 16674)
(35.385574, -119.015009, 6963)
(35.49158, -120.66804, 1629)
(35.49453, -120.66617, 18234)
(35.62109, -117.67296, 1062)
(35.642943, -117.715066, 10452)
(36.102244, -119.56565, 16009)
(36.209286, -121.126371, 19011)
(36.31567, -119.643447, 18646)
(36.332179, -119.291228, 7421)
(36.48187, -121.73333, 19028)
(36.487823, -117.871036, 24270)
(36.48947, -118.82915, 2830)
(36.595556, -118.049167, 2173)
(36.634225, -120.382331, 18119)
(36.694261, -121.623271, 21539)
(36.710833, -119.7775, 5453)
(36.72639, -119.733, 7018)
(36.78538, -119.77321, 49030)
(36.819449, -119.716433, 21682)
(36.843425, -121.3621, 18806)
(36.953256, -120.034203, 20602)
(36.98332, -121.98822, 18870)
(36.985119, -119.658339, 16790)
(36.999571, -121.574684, 18569)
(37.06315, -122.083092, 17925)
(37.155494, -118.293547, 2298)
(37.2136, -119.699065, 8)
(37.281853, -120.433671, 18645)
(37.30832, -120.480456, 7066)
(37.338135, -121.849783, 18444)
(37.348497, -121.894898, 23909)
(37.360684, -118.330783, 18742)
(37.362137, -118.417478, 4202)
(37.482934, -122.20337, 18615)
(37.488317, -120.836008, 18698)
(37.642165, -120.994212, 19514)
(37.64571, -118.96652, 8708)
(37.687526, -121.784217, 18871)
(37.701222, -121.903019, 9390)
(37.743065, -122.169935, 18933)
(37.765946, -122.399044, 18741)
(37.793392, -121.247874, 18206)
(37.793624, -122.263376, 19038)
(37.814781, -122.282347, 18382)
(37.864767, -122.302741, 12938)
(37.936013, -122.026154, 20374)
(37.950741, -121.268523, 33813)
(37.9604, -122.356811, 18509)
(37.961578, -121.281414, 358)
(37.962069, -119.120278, 7838)
(37.97231, -122.520004, 18473)
(38.102507, -122.237976, 36914)
(38.20185, -120.680277, 17698)
(38.278849, -122.275024, 7730)
(38.310942, -122.296189, 9363)
(38.403765, -122.818294, 18497)
(38.494475, -121.211131, 11283)
(38.556326, -121.458499, 1650)
(38.56844, -121.49311, 9123)
(38.593322, -121.503795, 5198)
(38.613779, -121.368014, 18749)
(38.66121, -121.73269, 3685)
(38.683304, -121.164457, 27956)
(38.74643, -121.26498, 5806)
(38.93568, -121.09959, 21737)
(39.01893, -122.91333, 1656)
(39.021221, -122.281803, 18437)
(39.0327, -122.92229, 1104)
(39.138773, -121.618549, 18204)
(39.15047, -123.20655, 19400)
(39.18919, -121.99887, 4541)
(39.233477, -121.055608, 12121)
(39.32783, -120.184592, 3660)
(39.39861, -123.35872, 2238)
(39.41174, -123.35264, 17039)
(39.76168, -121.84047, 16141)
(39.81336, -120.47069, 6066)
(39.939567, -120.944376, 11214)
(40.17093, -122.25556, 14574)
(40.55013, -122.38092, 4875)
(40.6304, -122.4031, 156)
(40.69184, -122.40179, 168)
(40.71528, -124.20139, 2568)
(40.77678, -124.17949, 5100)
(41.047117, -123.675233, 2348)
(41.726892, -122.633579, 10097)
(41.75613, -124.20347, 3317)

In [7]:
from sqlalchemy import create_engine
import pandas as pd

# Connect to the SQLite database
engine = create_engine('sqlite:///my_database.sqlite')

# Create a pandas DataFrame from an SQL query
df = pd.read_sql_query(
    """
    SELECT 
        latitude, 
        longitude, 
        COUNT(*) as num_measures
    FROM 
        my_table
    GROUP BY 
        latitude, 
        longitude
    """, 
    engine
)

# Print the DataFrame
print(df)

      latitude   longitude  num_measures
0    32.631242 -117.059088          5592
1    32.650900 -116.365000           676
2    32.676180 -115.483070         24971
3    32.701492 -117.149653          4416
4    32.710177 -117.142665          1404
..         ...         ...           ...
140  40.715280 -124.201390          2568
141  40.776780 -124.179490          5100
142  41.047117 -123.675233          2348
143  41.726892 -122.633579         10097
144  41.756130 -124.203470          3317

[145 rows x 3 columns]