In [5]:
import sql_utils
import pandas as pd
from sqlalchemy import create_engine

import sqlite3
import pandas as pd

In [6]:
file1 = r'/Users/mattthowell/Desktop/PIC_16B_Data/2014.6_2021_CA_PM2.5.csv'
file2 = r'/Users/mattthowell/Desktop/PIC_16B_Data/2009_2014.6_CA_PM2.5.csv'
file3 = r'/Users/mattthowell/Desktop/PIC_16B_Data/2009_2014.6_CA_PM10.csv'
file4 = r'/Users/mattthowell/Desktop/PIC_16B_Data/2014.6_2021_CA_PM10.csv'

In [21]:
f = pd.read_csv(file1)

In [28]:
f["date_local"].str.slice(0, 4)

0          2014
1          2014
2          2014
3          2014
4          2014
           ...
1897680    2021
1897681    2021
1897682    2021
1897683    2021
1897684    2021
Name: date_local, Length: 1897685, dtype: object

In [34]:
def aqs_years(file):
    f = pd.read_csv(file)
    
    f["years"] = f["date_local"].str.slice(0, 4)
    
    return f.to_csv()

In [35]:
file1 = aqs_years(file1)

In [36]:
file1

In [7]:
engine = create_engine('sqlite:///database.sqlite')

In [8]:
sql_utils.process_csv_in_chunks(file1, 20000, engine, 'PM2')
sql_utils.process_csv_in_chunks(file2, 20000, engine, 'PM2')

/Users/mattthowell/Coding/Air-Pandas/Visualizations and Analysis/sql_utils.py:47: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(chunk_iter):
/Users/mattthowell/Coding/Air-Pandas/Visualizations and Analysis/sql_utils.py:47: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(chunk_iter):
/Users/mattthowell/Coding/Air-Pandas/Visualizations and Analysis/sql_utils.py:47: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(chunk_iter):
/Users/mattthowell/Coding/Air-Pandas/Visualizations and Analysis/sql_utils.py:47: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(chunk_iter):
/Users/mattthowell/Coding/Air-Pandas/Visualizations and Analysis/sql_utils.py:47: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(chunk_iter):

In [12]:
# Connect to the SQLite database
conn = sqlite3.connect('database.sqlite')

# Create a pandas DataFrame from an SQL query
df = pd.read_sql_query("SELECT latitude, longitude, arithmetic_mean, aqi, FIPS FROM PM2 LIMIT 10", conn)

# Close the connection
conn.close()

# Print the DataFrame
print(df)

    latitude   longitude  arithmetic_mean   aqi   FIPS
0  37.765946 -122.399044             27.0  82.0  06075
1  37.765946 -122.399044             27.0  82.0  06075
2  37.765946 -122.399044             27.0  82.0  06075
3  37.765946 -122.399044             27.0  82.0  06075
4  37.765946 -122.399044             27.0  82.0  06075
5  37.765946 -122.399044             27.0  82.0  06075
6  37.765946 -122.399044             11.0  46.0  06075
7  37.765946 -122.399044             11.0  46.0  06075
8  37.765946 -122.399044             11.0  46.0  06075
9  37.765946 -122.399044             11.0  46.0  06075